---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav
    class="bg-gray-950 flex w-full fixed items-center z-20 h-20 text-gray-400 justify-between px-6 md:px-40 text-lg opacity-95"
  >
    <a href="/">
      <img src="/logo.png" class="w-10" alt="" />
      <!-- <h2 class="font-bold text-white text-2xl">celsodev</h2> -->
    </a>
    <div class="hidden md:flex text-white gap-3 items-center">
      <a href="#proyectos">Proyectos</a>
      <a href="#contacto">Contacto</a>
      <a href="#sobremi">Sobre mi</a>
    </div>
   
    <a                   href="mailto:celsofranciscano00@gmail.com"

            class="px-8 py-2  bg-blue-600 text-white font-semibold hover:bg-blue-700 active:bg-blue-800 active:outline active:outline-blue-500 rounded-md"
          >
            Contactame
          </a>
  </nav>
</header>
